
@font-face {
  font-family: 'VAGRundschriftD-Ita';
  src: url('VAGRundschriftD-Ita.eot?#iefix') format('embedded-opentype'),  url('VAGRundschriftD-Ita.woff') format('woff'), url('VAGRundschriftD-Ita.ttf')  format('truetype'), url('VAGRundschriftD-Ita.svg#VAGRundschriftD-Ita') format('svg');
  font-weight: normal;
  font-style: normal;
}
