
@font-face {
  font-family: 'VAGRundschriftD';
  src: url('VAGRundschriftD.eot?#iefix') format('embedded-opentype'),  url('VAGRundschriftD.woff') format('woff'), url('VAGRundschriftD.ttf')  format('truetype'), url('VAGRundschriftD.svg#VAGRundschriftD') format('svg');
  font-weight: normal;
  font-style: normal;
}
