
@font-face {
  font-family: 'VAGRundschriftD-LigIta';
  src: url('VAGRundschriftD-LigIta.eot?#iefix') format('embedded-opentype'),  url('VAGRundschriftD-LigIta.woff') format('woff'), url('VAGRundschriftD-LigIta.ttf')  format('truetype'), url('VAGRundschriftD-LigIta.svg#VAGRundschriftD-LigIta') format('svg');
  font-weight: normal;
  font-style: normal;
}
