
@font-face {
  font-family: 'Gothic821CondensedBT-Regular';
  src: url('Gothic821CondensedBT-Regular.eot?#iefix') format('embedded-opentype'),  url('Gothic821CondensedBT-Regular.woff') format('woff'), url('Gothic821CondensedBT-Regular.ttf')  format('truetype'), url('Gothic821CondensedBT-Regular.svg#Gothic821CondensedBT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
