
@font-face {
  font-family: 'VAGRundschriftD-Lig';
  src: url('VAGRundschriftD-Lig.eot?#iefix') format('embedded-opentype'),  url('VAGRundschriftD-Lig.woff') format('woff'), url('VAGRundschriftD-Lig.ttf')  format('truetype'), url('VAGRundschriftD-Lig.svg#VAGRundschriftD-Lig') format('svg');
  font-weight: normal;
  font-style: normal;
}
